/* .typewriter-container {
  font-size: 2.5rem; /* Adjust text size here 
  font-weight: 600;
  color: #1e293b; /* Dark blue/grey color 
}
 */

/* 3. The Dynamic Text Styling */
.typewriter-text {
  /* color: var(--first-color); /* Blue color for the changing word
  color: linear-gradient(90deg, #ff007a, #ffae00, #00d9ff, #9b00ff);
  font-weight: 700; */
  background: linear-gradient(
    90deg,
    #95446b,
    #877449,
    #3a7e8a,
    #804ca3
  ); /* Gradient colors for the text */

  /* Clip the background to the text shape */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the actual text transparent so the background shows through */
  -webkit-text-fill-color: transparent;
  color: transparent;

  font-weight: 600;
}

/* 4. The typewriter-cursor Styling */
.typewriter-cursor {
  display: inline-block;
  width: 3px;
  background-color: #666fc4; /* Light purple/blue typewriter-cursor color */
  margin-left: 5px;
  animation: blink 1s infinite;
}
